<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <center>
      <h1>Hello welcome to signlanguage to text conversion page!!</h1>
      <div>
        <a href="video" width="70%">Webcam</a>
      </div>
      <h3> Do you want to know the image of your letter???... </h3>
      <form name="passdata" action="." method="post">
        <label>Letter(except J and Z) :</label>
        <input type="text" name="letter"></input>
        <input type="submit" value="submit">
      </form>
      <p></p>
      <div>
        {%if letter%}
          {% for l in letter %}
            <img
              src="{{ url_for('static', filename='images/'+l+'.png') }}"
              class="image"
            />
          {%endfor%}
        {% endif%}
        
      </div>
    </center>
    <style>
      .image {
          width: 135px;
      }
    </style>
    <script src="" async defer></script>
  </body>
</html>
